body {
  font-size: 14px;
  background: rgb(252, 144, 3, 0.03);
}
     #div {
  width: 100%;
   height: 100%;
  margin: 0;
}
  #iframe {
   background-color: rgba(249, 249, 249, 0.0);
    position: fixed;
    border: none;
    top: 0px; right: 0;
    bottom: 0; left: 0;
    width: 86.1%;
    height: 72%;
   z-index: 0;
   padding-bottom: 16%;
   border-radius: 1.5vh 1.5vh 1vh 1vh;
   top: 51.8%;
  left: 50%;
  transform: translate(-50%, -50%);
   backdrop-filter: blur(5%);
}

  .home, .quran, .fa-home, .komen, .menu {
   position: absolute;
    top: 10px;
}
  .home:before {
   content: " ";
  display: inline-block;
    cursor: pointer;
  text-indent: -999999px;
  height:25px;
  width: 37px;
    background-image: url(giti2.png);
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 35px;
  background-repeat:no-repeat;
  background-position:center;
  background-color: transparent;
  margin-top: -4px;
}
  .menu:before {
   content: " ";
  display: inline-block;
    cursor: pointer;
  text-indent: -999999px;
  height:30px;
  width: 24px;
    background-image: url(menu.png);
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 30px;
  background-repeat:no-repeat;
  background-position:center;
  background-color: transparent;
  margin-top: -9px;
}
 .quran:before {
   content: " ";
  display: inline-block;
    cursor: pointer;
  text-indent: -999999px;
  height:23px;
  width: 30px;
    background-image: url(quran.png);
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 30px;
  background-repeat:no-repeat;
  background-position:center;
  background-color: transparent;
  margin-top: -5px;
}
 .fa-home:before {
   content: " ";
  display: inline-block;
    cursor: pointer;
  text-indent: -999999px;
  height:28px;
  width: 25px;
    background-image: url(homes.png);
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 28px;
  background-repeat:no-repeat;
  background-position:center;
  background-color: transparent;
  margin-top: -7px;
}
 .komen:before {
   content: " ";
  display: inline-block;
    cursor: pointer;
  text-indent: -999999px;
  height:28px;
  width: 25px;
    background-image: url(komen.png);
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 25px;
  background-repeat:no-repeat;
  background-position:center;
  background-color: transparent;
  margin-top: -6px;
}
 .contain {
  width: 100%;
  position: fixed;
  left: 0;
  padding-top:30px;
  padding-bottom:30px;
  border-top: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
   height: 100%;
   z-index: 0;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tabcontent {
  width: 95%;
  height: 95%;
  position: relative;
  border-top: none;
  border: 1px solid transparent;
  padding: 10px;
  background-image: url(hp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 0;
}
 
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(90, 19, 125, 0.20);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    border-radius: 15%
   margin: 2%;
}

/* Hide preloader when the content is fully loaded */
body.loaded .preloader {
    display: none;
}

.loader {
    width: 90px;
    height: 90px;
    background: rgb(90, 19, 125, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animate 1s infinite;
    border: 0.4px solid red;
}
@keyframes animate{
    from{
        height: 105px;
        width: 105px;
    }
    to{
        height: 139px;
        width: 139px;
    }
}
.innercircle{
    width: 95px;
    height: 95px;
    background: pink;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(222, 130, 18, 0.2), rgba(222, 130, 18, 0.01)), url(aple.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 6px solid #fff;
 
}


