@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.fade-in.one {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.fade-in.two {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.fade-in.three {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7;
  animation-delay: 0.7s;
}

body {
  border-image: url(rounded-edge.png) 25% repeat;
  border-width: 250px;
  font-size: 14px;
  background: #020024;
background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  width: 100%;
   height: 100%;
}
     #div {
  width: 100%;
   height: 100%;
  margin: 0;
}

  #iframe {
   background-color: rgba(249, 249, 249, 0.0);
    position: fixed;
    border: none;
    top: 0px; right: 0;
    bottom: 0; left: 0;
    width: 86.2%;
    height: 73.5%;
   z-index: 0;
   padding-bottom: 16%;
   border-radius: 1.5vh 1.5vh 1vh 1vh;
   top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
   backdrop-filter: blur(5%);
}

  .home, .quran, .fa-home, .komen, .menu {
   position: absolute;
    top: 10px;
}
  .home:before {
   content: " ";
  display: inline-block;
    cursor: pointer;
  text-indent: -999999px;
  height:25px;
  width: 37px;
    background-image: url(giti2.png);
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 35px;
  background-repeat:no-repeat;
  background-position:center;
  background-color: transparent;
  margin-top: -4px;
}
  .menu:before {
   content: " ";
  display: inline-block;
    cursor: pointer;
  text-indent: -999999px;
  height:30px;
  width: 24px;
    background-image: url(menu.png);
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 30px;
  background-repeat:no-repeat;
  background-position:center;
  background-color: transparent;
  margin-top: -9px;
}
 .quran:before {
   content: " ";
  display: inline-block;
    cursor: pointer;
  text-indent: -999999px;
  height:23px;
  width: 30px;
    background-image: url(quran.png);
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 30px;
  background-repeat:no-repeat;
  background-position:center;
  background-color: transparent;
  margin-top: -5px;
}
 .fa-home:before {
   content: " ";
  display: inline-block;
    cursor: pointer;
  text-indent: -999999px;
  height:28px;
  width: 25px;
    background-image: url(homes.png);
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 28px;
  background-repeat:no-repeat;
  background-position:center;
  background-color: transparent;
  margin-top: -7px;
}
 .komen:before {
   content: " ";
  display: inline-block;
    cursor: pointer;
  text-indent: -999999px;
  height:28px;
  width: 25px;
    background-image: url(komen.png);
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 25px;
  background-repeat:no-repeat;
  background-position:center;
  background-color: transparent;
  margin-top: -6px;
}

   .bg-color {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding-top:30px;
  padding-bottom:30px;
  border-top: none;
  margin: 0;
  text-align: center;
  width: 86%;
   height: 63%;
   z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   backdrop-filter: blur(5%);
  color: #000;
}
  .bg-color div {
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
 }
   .bg-color  button {
    background: #4c68d7;
    color: white;
    border: none;
    padding: 6px 16px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
  }
  .bg-color button:hover {
    background: #657ef8;
  }
 .contain {
  width: 100%;
  position: fixed;
  left: 0;
  padding-top:30px;
  padding-bottom:30px;
  border-top: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
   height: 100%;
   z-index: 0;
   top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.tabcontent {
  width: 95%;
  height: 95%;
  position: relative;
  border-top: none;
  border: 1px solid transparent;
  padding: 10px;
  background-image: url(../img/hp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 0;
}
.bghome {
  width: 95%;
  height: 95%;
  position: relative;
  border-top: none;
  border: 1px solid transparent;
  padding: 10px;
    z-index: 0;
}
 



.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(249, 249, 249, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

/* Hide preloader when the content is fully loaded */
body.loaded .preloader {
    display: none;
}

.loader {
    width: 60px;
    height: 60px;
    background: rgb(90, 19, 125, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animate 1s infinite;
    border: 0.4px solid red;
}
@keyframes animate{
    from{
        height: 65px;
        width: 65px;
    }
    to{
        height: 85px;
        width: 85px;
    }
}
.innercircle{
    width: 45px;
    height: 45px;
    background: pink;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(222, 130, 18, 0.2), rgba(222, 130, 18, 0.01)), url(../img/aple.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 6px solid #fff;
 
}


